.notifica{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    
}
.notifica img{
    border-radius: 50%;
}
.iconanotifica{
    color: grey;
}
.violet{
    background-color: #6610f2;
    border-radius: 50%;
    border: white solid 2px  !important;
    position: absolute;
    left:80% !important;
    top: 15%;   
}
.green{
    border-radius: 50%;
    border: white solid 2px  !important;
    position: absolute;
    left:80% !important;
    top: 80%;   
}
 header.container-fluid{
    background-color:#7550FE ;
}