body{
    background-color:#F5F4F8 !important ;
}
.notifica{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notifica img{
    border-radius: 50%;
}
.notifica-user{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.iconanotifica{
    color: grey;
}

 header.container-fluid{
    background-color:#7550FE ;
}

#btngreen{
    background-color: #20c997 !important; 
    color: white !important;
} 

#btngreen:hover{
    color: black !important;
} 
#subtitle{
    opacity: 50%;
}
#jumbotron{
   padding-top: 10% !important;
}
#subjumbo{
    font-size: smaller;
    
}
#subjumbo p{
    margin: 0 !important;
    padding: 0 !important;
    font-size: smaller !important;   
    color: grey !important; 
}

.subjumboicon{
    background-color: #FFEEDA !important;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: brown;
}
.icona-testo{
    align-items: center !important;
}
section{
    background-color: white;
}   

h3{
    margin-top: 10% !important;
    margin-bottom: 2% !important;
}
#text-subtitle{
    color:grey !important;
}
#cellular{
    color: #6610f2 !important;
}
#star{
    color: rgb(233, 167, 12) !important;
}
#details{
    color: grey !important;
}
#save{
    margin-right: 20px !important;
}
#save:hover{
   ;
}
.text-decoration-line-through{
    color: gray !important;
}
#immaginecorso{
    border-start-end-radius: 10px !important;
    border-start-start-radius: 10px !important;
}
footer{
    margin-top: 10%;
    border-top: 0.5px solid rgb(192, 190, 190);
    padding-top: 10px;
}
#footer{
    font-weight:400;
    color: rgb(108, 106, 106);
}
#privacy{
    font-weight:400;
    color: rgb(108, 106, 106);
}
@media screen and (max-width: 576px){
    #footCol{
        text-align: center;
    }
}
footer .row{
    padding-bottom: 20px;
}
#notification1 {
    display: block;
    position: absolute;
    right: 50px;
    top: 4px;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color: #6610f2;
    border: 1px solid white;
  }
  
  #notification2 {
    display: block;
    position: absolute;
    right: 15px;
    border-radius: 50%;
    bottom: 0px;
    width: 8px;
    height: 8px;
    background-color: #198754;
    border: 1px solid white;
  }
  
  #navIcon {
    position: absolute;
    right: 65px;
  }